<div id="contact">
    <div class="texto_about">
        <h1>Contact Me</h1>
        <div>
            <form>
                <label>Full Name: </label>
                <input type="text" id="newClient" name="newClient" placeholder="Type your full name"><br><br>
                <label>Email: </label>
                <input type="email" id="emailClient" name="emailClient" placeholder="Type your email address"><br><br>
                <input type="text" id="message" name="messageClient" placeholder="Type your message">
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
    <div class="proyects">
       <h1>Proyects</h1>
       <ul class="items">
           <li class="separador"><img class="github" src="assets/img/github.png" />My proyects on GitHub</li>
           <li class="separador"><img class="rectangle" src="assets/img/portfolio.png"/>My portfolio 100% developed by me</li>
           <li class="separador"><img class="square" src="assets/img/translation.jpg"/>Various freelance translation proyects in IT and medical fields</li>
       </ul>
    </div>
</div>