<section class="vh-200" style="background-image: linear-gradient(#185954, #446b3f)">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-6 d-none d-md-block">
                <img src="assets/img/mate.jpg"
                  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
              </div>
              <div class="col-md-6 col-lg-6 d-flex align-items-center">
                <div class="card-body p-4 p-lg-4 text-black">
                  <form *ngIf="persona">
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                      <span class="h1 fw-bold mb-0">Actualización del Usuario</span>
                    </div>
                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Edite un registro existente</h5>
                    <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                      <div class="form-outline mb-4">
                        <input type="text" id="nombre" name="nombre" class="form-control form-control-lg" [(ngModel)]="persona.nombre" required/>
                        <label class="form-label" for="nombre">Nombre</label>
                      </div>
                      <div class="form-outline mb-4">
                        <input type="text" id="position" name="position" class="form-control form-control-lg" [(ngModel)]="persona.position"/>
                        <label class="form-label" for="position">Ocupación</label>
                      </div>
                      <div class="form-outline mb-4">
                        <input type="text" id="img" name="img" class="form-control form-control-lg" [(ngModel)]="persona.img"/>
                        <label class="form-label" for="img">URL de la imagen</label>
                      </div>
                      <div class="form-outline mb-4">
                        <input type="text" id="presentation" name="presentation" class="form-control form-control-lg" [(ngModel)]="persona.presentation"/>
                        <label class="form-label" for="presentation">Mensaje de presentación</label>
                      </div>
                      <div class="pt-1 mb-4">
                        <button class="btn btn-dark btn-lg btn-block" type="submit">Guardar</button>
                      </div>                    
                    </form>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>