<div id="aboutme">
    <div class="skills">
        <div class="title-container">
            <h1>Skills & IT Tools</h1>
            <button type="button" class="agregar" routerLink="/nuevaskill" *ngIf="isLogged"><h4><i class="bi bi-plus-square-dotted"></i></h4></button>
        </div>
        <div class="lists-container">
            <ul *ngFor="let Skill of skill" class="cardSkills">
                <li>
                    <div class="container-card">
                        <img src="{{Skill.imgSkill}}">
                        <p>{{Skill.nombreSkill}}</p>
                    </div>
                </li>
                <div *ngIf="isLogged" class="btns-container">
                    <button type="button" class="btns btn-location" routerLink="/editskill/{{Skill.id}}">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                    <button type="button" class="btns btn-location" (click)="deleteSkill(Skill.id)">
                        <i class="bi bi-trash"></i>
                    </button>
                </div>
            </ul>
        </div>
    </div>
    <div class="texto_about">
        <div class="title-container">
            <h1>Educación</h1>
            <button type="button" class="agregar" routerLink="/nuevaedu" *ngIf="isLogged"><h4><i class="bi bi-plus-square-dotted"></i></h4></button>
        </div>
        <ul *ngFor="let Educacion of educacion" class="cardEdu">
            <li class="studies">
                <img class="square" src="{{Educacion.imgEdu}}"/>
                <p>'{{Educacion.nombreEdu}}'<br>
                {{Educacion.descripcionEdu}}</p>
            </li>
            <div *ngIf="isLogged" class="btns-container">
                <button type="button" class="btns" routerLink="/editedu/{{Educacion.id}}">
                    <i class="bi bi-pencil-square"></i>
                </button>
                <button type="button" class="btns" (click)="delete(Educacion.id)">
                    <i class="bi bi-trash"></i>
                </button>
            </div>
        </ul>
    </div>
</div>
<div class="footer"></div>