<div id="aboutme">
    <div class="texto_about">
        <h1>Qualifications</h1>
        <ul>
            <li class="studies">
                <img class="square" src="assets/img/caece.jpg"/>
                <p>'Spanish-English Professional Translator'<br>
                CAECE University<br>
                Mar del Plata, Argentina</p>
            </li>
            <li class="studies">
                <img class="rectangle" src="assets/img/inti.png"/>
                <p>'Junior Full Stack Web Developer'<br>
                National Institute of Industrial Technology (INTI)<br>
                Buenos Aires, Argentina</p>
            </li>
            <li class="studies">
                <img class="square" src="assets/img/hilet.png"/>
                <p>'Pharmacy Assistant'<br>
                Hilet Institute<br>
                Mar del Plata, Argentina</p>
            </li>
        </ul>
    </div>
    <div class="skills">
       <h1>Skills & IT Tools</h1>
       <ul class="items">
           <li class="separador"><img class="rectangle" src="assets/img/sdltrados.png" /><br>SDL Trados Studio</li>
           <li class="separador"><img class="rectangle" src="assets/img/memsource.jpg"/><br>Memsource</li>
           <li class="separador"><img class="square" src="assets/img/xbench.jpg"/><br>Xbench</li>
           <li class="separador"><img class="square" src="assets/img/js.webp" /><br>JavaScript</li>
           <li class="separador"><img class="square" src="assets/img/html.png"/><br>HTML</li>
           <li class="separador"><img class="square" src="assets/img/css.png"/><br>CSS</li>
           <li class="separador"><img class="square" src="assets/img/mysql.png" /><br>MySQL</li>
           <li class="separador"><img class="square" src="assets/img/angular.png"/><br>Angular</li>
           <li class="separador"><img class="rectangle" src="assets/img/finnish.png"/><br>Finnish Language (B1)</li>
           <li class="separador"><img class="rectangle" src="assets/img/italian.png"/><br>Italian Language (B1)</li>
       </ul>
    </div>
</div>