<div id="services">
    <div class="services">
        <h1>Services</h1>
        <ul class="items">
            <li class="separador"><img class="github" src="assets/img/github.png" />My proyects on GitHub</li>
            <li class="separador"><img class="rectangle" src="assets/img/portfolio.png"/>My portfolio 100% developed by me</li>
            <li class="separador"><img class="square" src="assets/img/translation.jpg"/>Various freelance translation proyects in IT and medical fields</li>
        </ul>
    </div>
</div>