<div id="skills">
    <p>
        Skills
    </p>
    <!--<ul class="items">
        <li class="separador"><img class="rectangle" src="assets/img/sdltrados.png" /><br>SDL Trados Studio</li>
        <li class="separador"><img class="rectangle" src="assets/img/memsource.jpg"/><br>Memsource</li>
        <li class="separador"><img class="square" src="assets/img/xbench.jpg"/><br>Xbench</li>
        <li class="separador"><img class="square" src="assets/img/js.webp" /><br>JavaScript</li>
        <li class="separador"><img class="square" src="assets/img/html.png"/><br>HTML</li>
        <li class="separador"><img class="square" src="assets/img/css.png"/><br>CSS</li>
        <li class="separador"><img class="square" src="assets/img/mysql.png" /><br>MySQL</li>
        <li class="separador"><img class="square" src="assets/img/angular.png"/><br>Angular</li>
        <li class="separador"><img class="rectangle" src="assets/img/finnish.png"/><br>Finnish Language (B1)</li>
        <li class="separador"><img class="rectangle" src="assets/img/italian.png"/><br>Italian Language (B1)</li>
    </ul>-->
</div>
