    <div id="home">
        <div class="presentation">
        <div class="picture">
            <img src="https://media-exp1.licdn.com/dms/image/C5603AQEEgRpToY_Vfg/profile-displayphoto-shrink_800_800/0/1647814137044?e=1660176000&v=beta&t=51r4Z232DUt1xcD9vsHt2Giq3VGmvm9ND_xYMER3lAA">
        </div>    
        <div class="presentation_t">
            <p class="presentation_text">
                "Hi, welcome to my portfolio!<br>
                Here, you will find a collection of my projects, experience, qualifications, skills, and contact details."<i class="flag flag-united-kingdom"></i>
            </p>
        </div>
    </div>
    </div>
